.intro {
    width: 68%;
    margin: 92px 0 0;
}


@media screen and (max-width:1023px) {
    .intro {
        width: 71%;

    }
}


@media screen and (max-width:767px) {
    .intro {
        width: 94%;
        margin: 110px auto 0;

    }
}




@media screen and (max-width:319x) {
    .intro {
        width: 90%;
        margin: 64px auto 0;


    }
}