.footer{
    display: flex;
    justify-content: space-between;
    margin:0 auto;
    padding:92px 0 24px;
    width:93%;
}

@media screen and (max-width:1024px){
    .footer{
        width:91%;
    }
}


@media screen and (max-width:768px){
    .footer{
        width:94%;
        padding:88px 0 24px;
    }
}


@media screen and (max-width:673px){
    .footer{
        flex-direction: column;
        flex-wrap: wrap;
        padding:0;
        width:58%;
        margin:64px 16px 24px;
    }
}